﻿@model WebApplicationStudenciMVC.Models.Oczekujacy

@{
    ViewBag.Title = "Create";
}

<h2>Oczekujący</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Oczekujacy</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" for="O_indeks">Student</label>
        <div class="col-md-10">
            @Html.DropDownList("O_indeks", String.Empty)
            @Html.ValidationMessageFor(model => model.O_indeks)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="O_projekt">Projekt</label>
        <div class="col-md-10">
            @Html.DropDownList("O_projekt", String.Empty)
            @Html.ValidationMessageFor(model => model.O_projekt)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Nowy" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
