﻿@model WebApplicationStudenciMVC.Models.Oczekujacy

@{
    ViewBag.Title = "Details";
}

<h2>Detale</h2>

<div>
    <h4>Oczekujacy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.O_indeks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_indeks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_projekt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_projekt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.O_ID }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
