﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Oczekujacy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.O_indeks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.O_projekt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.O_indeks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O_projekt)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.O_ID }) |
            @Html.ActionLink("Detale", "Details", new { id=item.O_ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.O_ID })
        </td>
    </tr>
}

</table>
