﻿@model WebApplicationStudenciMVC.Models.Oceny_projekty

@{
    ViewBag.Title = "Create";
}

<h2>Stwórz</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Oceny_projekty</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2" for="ID_Projektu">Projekt</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_Projektu", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_Projektu)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="ID_Studenta">Student</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_Studenta", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_Studenta)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OProj_Ocena, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OProj_Ocena, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OProj_Ocena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OProj_Data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OProj_Data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OProj_Data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Nowy" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
