﻿@model WebApplicationStudenciMVC.Models.Oceny_projekty

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Czy jesteś pewien że chcesz to usunąć?</h3>
<div>
    <h4>Oceny_projekty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Projektu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Projektu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Studenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Studenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OProj_Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OProj_Ocena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OProj_Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OProj_Data)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
