﻿@model WebApplicationStudenciMVC.Models.Oceny_projekty

@{
    ViewBag.Title = "Details";
}

<h2>Detale</h2>

<div>
    <h4>Oceny_projekty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Projektu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Projektu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Studenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Studenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OProj_Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OProj_Ocena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OProj_Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OProj_Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.OProj_Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
