﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Oceny_projekty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Projektu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Studenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OProj_Ocena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OProj_Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Projektu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Studenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OProj_Ocena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OProj_Data)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.OProj_Id }) |
            @Html.ActionLink("Detale", "Details", new { id=item.OProj_Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.OProj_Id })
        </td>
    </tr>
}

</table>
