﻿@model WebApplicationStudenciMVC.Models.Przedmioty

@{
    ViewBag.Title = "Dodaj";
}

<h2>Nowy</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Przedmioty</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <label class="control-label col-md-2" for="ID_prowadzacego">Prowadzący</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_prowadzacego", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_prowadzacego)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="ID_Specjalizacji">Specjalizacja</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_Specjalizacji", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_Specjalizacji)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nazwa_przedmiotu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nazwa_przedmiotu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nazwa_przedmiotu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ECTS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ECTS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ECTS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Nowy" class="btn btn-default" />
        </div>
    </div>
</div>
}

    <div>
        @Html.ActionLink("Powrót do listy", "Index") |
        @Html.ActionLink("Powrót do menu", "Index", "Logins")
    </div>
