﻿@model WebApplicationStudenciMVC.Models.Przedmioty

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy jesteś pewien że chcesz to usunąć?</h3>
<div>
    <h4>Przedmioty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_prowadzacego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_prowadzacego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Specjalizacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Specjalizacji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa_przedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa_przedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECTS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Powrót do listy", "Index") |
        @Html.ActionLink("Powrót do menu", "Index", "Logins")
    </div>
    }
</div>
