﻿@model WebApplicationStudenciMVC.Models.Przedmioty

@{
    ViewBag.Title = "Detale";
}

<h2>Detale</h2>

<div>
    <h4>Przedmioty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_prowadzacego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_prowadzacego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Specjalizacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Specjalizacji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa_przedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa_przedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECTS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_przedmiotu }) |
    @Html.ActionLink("Powrót do listy", "Index") |
    @Html.ActionLink("Powrót do menu", "Index", "Logins")
</p>
