﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Przedmioty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_prowadzacego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Specjalizacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa_przedmiotu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ECTS)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_prowadzacego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Specjalizacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa_przedmiotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ECTS)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID_przedmiotu }) |
                @Html.ActionLink("Detale", "Details", new { id = item.ID_przedmiotu }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID_przedmiotu })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Powrót do menu", "Index", "Logins")
