﻿@model WebApplicationStudenciMVC.Models.Specjalizacja

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy jesteś pewien że chcesz to usunąć?</h3>
<div>
    <h4>Specjalizacja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa_specjalizacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa_specjalizacji)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Powrót do listy", "Index") |
        @Html.ActionLink("Powrót do menu", "Index", "Logins")
    </div>
    }
</div>
