﻿@model WebApplicationStudenciMVC.Models.Specjalizacja

@{
    ViewBag.Title = "Detale";
}

<h2>Detale</h2>

<div>
    <h4>Specjalizacja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa_specjalizacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa_specjalizacji)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.ID_Specjalizacji }) |
    @Html.ActionLink("Wróć do listy", "Index") |
    @Html.ActionLink("Powrót do menu", "Index", "Logins")
</p>
