﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Specjalizacja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa_specjalizacji)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa_specjalizacji)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID_Specjalizacji }) |
                @Html.ActionLink("Detale", "Details", new { id = item.ID_Specjalizacji }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID_Specjalizacji })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Powrót do menu", "Index", "Logins")
