﻿@model WebApplicationStudenciMVC.Models.Studenci

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy jesteś pewien że chcesz to usunąć??</h3>
<div>
    <h4>Studenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Specjalizacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Specjalizacji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Nr_indeksu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Nr_indeksu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Data_urodzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Data_urodzenia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Usuń" class="btn btn-default" /> 
        @Html.ActionLink("Wróć do listy", "Index") |
        @Html.ActionLink("Powrót do menu", "Index", "Logins")
    </div>
    }
</div>
