﻿@model WebApplicationStudenciMVC.Models.Studenci

@{
    ViewBag.Title = "Detale";
}

<h2>Details</h2>

<div>
    <h4>Studenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Specjalizacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Specjalizacji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Nr_indeksu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Nr_indeksu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST_Data_urodzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST_Data_urodzenia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID_Studenta }) |
    @Html.ActionLink("Wróć do listy", "Index") |
    @Html.ActionLink("Powrót do menu", "Index", "Logins")
</p>
