﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Studenci>

@{
    ViewBag.Title = "Studenci";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Specjalizacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_Nr_indeksu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_Data_urodzenia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Specjalizacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_Nr_indeksu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_Data_urodzenia)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID_Studenta }) |
                @Html.ActionLink("Detale", "Details", new { id = item.ID_Studenta }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID_Studenta })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Powrót do menu", "Index", "Logins") 