﻿@model WebApplicationStudenciMVC.Models.Prowadzacy

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy jesteś pewien że chcesz to usunąć?</h3>
<div>
    <h4>Prowadzacy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Stopien_naukowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Stopien_naukowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Stanowisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Stanowisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Adres)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        @Html.ActionLink("Wróć do listy", "Index") |
        @Html.ActionLink("Powrót do menu", "Index", "Logins")
    </div>
    }
</div>
