﻿@model WebApplicationStudenciMVC.Models.Prowadzacy

@{
    ViewBag.Title = "Detale";
}

<h2>Details</h2>

<div>
    <h4>Prowadzacy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Stopien_naukowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Stopien_naukowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Stanowisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Stanowisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Adres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID_prowadzacego }) |
    @Html.ActionLink("Wróc do listy", "Index") |
    @Html.ActionLink("Powrót do menu", "Index", "Logins")
</p>
