﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Prowadzacy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.P_Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Stopien_naukowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Stanowisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Adres)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.P_Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Stopien_naukowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Stanowisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Adres)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID_prowadzacego }) |
                @Html.ActionLink("Detale", "Details", new { id = item.ID_prowadzacego }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID_prowadzacego })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Powrót do menu", "Index", "Logins") 