﻿@model WebApplicationStudenciMVC.Models.Zapisani

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Zapisani</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" for="Z_Student">Student</label>
        <div class="col-md-10">
            @Html.DropDownList("Z_Student", String.Empty)
            @Html.ValidationMessageFor(model => model.Z_Student)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Z_Projekt">Projekt</label>
        <div class="col-md-10">
            @Html.DropDownList("Z_Projekt", String.Empty)
            @Html.ValidationMessageFor(model => model.Z_Projekt)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Z_Termin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Z_Termin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Z_Termin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
