﻿@model WebApplicationStudenciMVC.Models.Zapisani

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zapisani</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Z_Student)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Z_Student)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Z_Projekt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Z_Projekt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Z_Termin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Z_Termin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Zapisani }) |
    @Html.ActionLink("Back to List", "Index")
</p>
