﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Zapisani>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Z_Student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z_Projekt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z_Termin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Z_Student)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z_Projekt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z_Termin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Zapisani }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Zapisani }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Zapisani })
        </td>
    </tr>
}

</table>
