﻿@model WebApplicationStudenciMVC.Models.Projekty

@{
    ViewBag.Title = "Dodaj";
}

<h2>Nowy</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Projekty</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <label class="control-label col-md-2" for="ID_przedmiotu">Przedmiot</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_przedmiotu", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_przedmiotu)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nazwa_projektu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nazwa_projektu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nazwa_projektu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Data_projektu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Data_projektu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Data_projektu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Nowy" class="btn btn-default" />
        </div>
    </div>
</div>
}

    <div>
        @Html.ActionLink("Wróć do listy", "Index") |
        @Html.ActionLink("Powrót do menu", "Index", "Logins")
    </div>
