﻿@model WebApplicationStudenciMVC.Models.Projekty

@{
    ViewBag.Title = "Detale";
}

<h2>Details</h2>

<div>
    <h4>Projekty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_przedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_przedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa_projektu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa_projektu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_projektu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_projektu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.ID_Projektu }) |
    @Html.ActionLink("Wróć do listy", "Index") |
    @Html.ActionLink("Powrót do menu", "Index", "Logins")
</p>
