﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Projekty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_przedmiotu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa_projektu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_projektu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_przedmiotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa_projektu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_projektu)
            </td>
            <td>
                @Html.ActionLink("Edycja", "Edit", new { id = item.ID_Projektu }) |
                @Html.ActionLink("Detale", "Details", new { id = item.ID_Projektu }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID_Projektu })
            </td>
        </tr>
    }

</table>

            @Html.ActionLink("Powrót do menu", "Index", "Logins")
