﻿@model WebApplicationStudenciMVC.Models.Oceny_przedmioty

@{
    ViewBag.Title = "Create";
}

<h2>Stwórz</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Oceny_przedmioty</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2" for="ID_Studenta">Student</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_Studenta", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_Studenta)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="ID_przedmiotu">Przedmiot</label>
        <div class="col-md-10">
            @Html.DropDownList("ID_przedmiotu", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_przedmiotu)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OPrz_Ocena, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OPrz_Ocena, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OPrz_Ocena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Oprz_Data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Oprz_Data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Oprz_Data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Nowy" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
