﻿@model WebApplicationStudenciMVC.Models.Oceny_przedmioty

@{
    ViewBag.Title = "Details";
}

<h2>Detale</h2>

<div>
    <h4>Oceny_przedmioty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Studenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Studenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_przedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_przedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPrz_Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPrz_Ocena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oprz_Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oprz_Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.OPrz_Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
