﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Login>
@{
    ViewBag.Title = "Index";
}

<h1>Witaj admin!</h1>
<h2>Co chcesz dziś zrobić?</h2>

    <h3>Zarządzaj studentami</h3>
    @Html.ActionLink("Zarządzaj studentami", "Index", "Studencis") 
    <h3>Zarządzaj prowadzącymi</h3>
    @Html.ActionLink("Zarządzaj prowadzącymi", "Index", "Prowadzacies") 
    <h3>Zarządzaj przedmiotami</h3>
    @Html.ActionLink("Zarządzaj przedmiotami", "Index", "Przedmioties") 
    <h3>Zarządzaj projektami</h3>
    @Html.ActionLink("Zarządzaj projektami", "Index", "Projekties") 
    <h3>Zarządzaj specjalizacjami</h3>
    @Html.ActionLink("Zarządzaj specjalizacjami", "Index", "Specjalizacjas") 





