﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Login>

@{
    ViewBag.Title = "Main";
}

<h1>Witaj prowadzący!</h1>
<h2>Co chcesz dziś zrobić?</h2>

<h3>Zarządzaj przedmiotami</h3>
@Html.ActionLink("Zarządzaj przedmiotami", "Index", "Przedmioties")
<h3>Zarządzaj projektami</h3>
@Html.ActionLink("Zarządzaj projektami", "Index", "Projekties")
<h3>Zarządzaj ocenami z projektów</h3>
@Html.ActionLink("Zarządzaj ocenami", "Index", "Oceny_projekty")
<h3>Zarządzaj ocenami z przedmiotów</h3>
@Html.ActionLink("Zarządzaj ocenami", "Index", "Oceny_przedmioty")
<h3>Sprawdź zgłoszenia do projektów</h3>
@Html.ActionLink("Zgłoszenia do projektów", "Index", "Zapisanis")

