﻿@model IEnumerable<WebApplicationStudenciMVC.Models.Studenci>

@{
    ViewBag.Title = "Index";
}
<h1>Witaj student!</h1>
<h2>Co chcesz dziś zrobić?</h2>

<h3>Wpisz się na projekt</h3>
@Html.ActionLink("Wpisz się na projekt", "Create", "Oczekujacies")
<h3>Sprawdź oceny z projektów</h3>
@Html.ActionLink("Sprawdź oceny z projektów", "Index", "Oceny_projekty")
<h3>Sprawdź oceny z przedmiotów</h3>
@Html.ActionLink("Sprawdź oceny z przedmiotów", "Index", "Oceny_przedmioty")
